<div class="jumbotron">
  <h1 class="display-4">Prueba Practica Backend Cobrando S.A.S</h1>
  <p class="lead">Bienvenidos al sistema de carga de archivos Excel en MongoDB</p>
  <div class="form-group">
   <a href="/users/signin" type="button" class="btn btn-success">Iniciar Sesion</a>
   <a href="/users/signup" type="button" class="btn btn-success">Registrar Usuario</a>
  </div>
  

</div>